streamlit
markdown2
langchain
langchain-community
langchain-core
langchain-openai
langchain-groq
faiss-cpu
openai
sqlalchemy
python-dotenv
pinecone-client
PyMuPDF
speechrecognition
pyttsx3
docx2txt
langchain_pinecone
langchain_huggingface
ffmpeg-python
streamlit_javascript
st-copy-to-clipboard
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pydub
ffmpeg
feedparser
moviepy